* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#747070, #625d5d);
    font-family: Arial, sans-serif;
}

.header {
    background-color: #000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;

}

.header .slidedown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: slidedown .4s forwards;
}

@keyframes slidedown {
    from {
        top: -250px;
    }

    to {
        top: 0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    }
}

.icon {
    color: #fff;
    font-size: 26px;
    padding: 3px 20px;
    position: fixed;
    right: 10px;
    top: 5%;
    transform: translateY(-50%);
}

i:hover {
    color: #c90000;
}

/* -----------------------------------------------logo------------------------------------------ */
.logo {
    position: fixed;
    top: -10px;
    left: 10px;
    z-index: 1;
}

.logo img {
    width: 80px;
    padding-top: 0;
    height: auto;
}

/* -------------------------------------------------------navigation bar---------------------------------- */
nav {
    position: fixed;
    width: 790px;
    height: 45px;
    background: #222;
    border-radius: 8px;
    margin-top: 2px;
    padding-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 225px;
    width: 86px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: 0.4s;
}

nav a:nth-child(1):hover~span {
    left: 32px;
    width: 100px;
}


nav a:nth-child(2):hover~span {
    left: 116px;
    width: 120px;
}

nav a:nth-child(3):hover~span {
    left: 225px;
    width: 86px;
}

nav a:nth-child(4):hover~span {
    left: 306px;
    width: 130px;
}

nav a:nth-child(5):hover~span {
    left: 443px;
    width: 155px;
}

nav a:nth-child(6):hover~span {
    left: 611px;
    width: 140px;
}

/* -------------------------------------side bar------------------------------- */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: #211b1b8e;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a {
    font-size: 30px;
    width: 100%;
}

.sidebar i {
    height: 20px;
}

.ri-close-large-line {
    position: relative;
    left: 42%;
    font-size: 25px;

}

/* ---------------------------------------------------container--------------------------------------- */

.container {
    width: 98%;
    margin: 0 15px 10px 12px;
    background: rgb(135, 133, 133);
    padding: 5px;
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}


.carousel {
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: -20px;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 400px;
    background: radial-gradient(rgb(223, 218, 218), #949191);
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 4px 5px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-7px);
    background: radial-gradient(#e4dede, #e3dedc);

}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.category {
    font-size: 18px;
    color: #3a3838;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.name {
    position: absolute;
    font-size: 23px;
    font-weight: 600;
    color: #222;
    top: 85%;
}

.name::first-letter {
    color: rgb(183, 20, 20);
}

.carousel-container {
    position: relative;
}

#carousel::-webkit-scrollbar {
    background-color: transparent;
    /*display: none;*/
    height: 7px;
}

#carousel::-webkit-scrollbar-thumb {
    background-color: rgb(183, 20, 20);
}

.container2 {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.container2 h2 {
    margin-bottom: 15px;
}

h3::first-letter {
    color: rgb(255, 0, 0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.product-card {
    background: radial-gradient(rgb(186, 178, 178), #949191);
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.product-card img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.product-card:hover {
    background: radial-gradient(#e4dede, #e3dedc);
}

.product-card:hover img {
    transform: translateY(-7px);
    border-bottom: 1px solid #000000;

}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 18px;
    color: #555;
}

.product-card p {
    opacity: 0;
}

.product-card:hover p {
    opacity: 1;

}

.compare {
    margin-top: 10px;
}

/* -----------------------------------------button------------------------- */
.Button {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    width: 170px;
    margin-bottom: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid rgb(181, 175, 175);
    border-radius: 5px;
    color: rgb(253, 250, 250);
    font-weight: 600;
    font-size: 25px;
    position: relative;
    transition: all linear 0.4s;
    overflow: hidden;
}

button a {
    text-decoration: none;
    color: rgb(250, 246, 246);
}

button::after {
    content: '';
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(30, 29, 29);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all linear 0.3s;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
}

button:hover::after {
    transform: translate(-50%, -50%) scale(5);
}

button:hover a {
    color: #ff0000;
}

.left-btn {
    border-color: rgb(212, 207, 207);
    color: rgb(197, 188, 188);
}

.left-btn::after {
    background-color: rgb(30, 29, 29);
}

.left-btn:hover a {

    color: #ff0000;

}

/* ---------------------------footer--------------------------------------- */
footer {
    position: relative;
    background: #53585e;
    text-align: center;
    padding: 0px 20px 20px;
    color: #ffffff;
}

footer .social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .social-icons a {
    text-decoration: none;
}

footer .social-icons li {
    display: inline-block;
    margin: 0 15px;
}

footer .social-icons li a {
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
}



footer .menu {
    list-style: none;
    margin-bottom: 20px;
}

footer .menu li {
    display: inline-block;
    margin: 0 15px;
}

footer .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.1s;
}

footer .menu li a:hover {
    transform: translateY(-5px);
    color: #c90000;
}

footer .social-icons li i:hover {
    color: rgb(152, 28, 9);
}

footer p {
    font-size: 16px;
    opacity: 0.8;
}

footer img {
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
}

#vault::first-letter {
    color: #c90000;
}

.wave svg {
    display: block;
}